services:
  db:
    build:
      context: .
      dockerfile: Dockerfile.age-pgvectors
    container_name: pgvector
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db_name
    ports:
      - "5432:5432"
    networks:
      - rag_net
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    command: >
      postgres
      -c shared_preload_libraries='vectors, age'

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - rag_net

volumes:
  pgdata:

networks:
  rag_net:
    external: true
    driver: bridge